<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='page-header'>
        <h1 class='articleTitle'>
          <%= article.title %><br>
          <small>
            by <%= article.user.email %> ·
            <%= time_ago_in_words(article.created_at) %> ago
          </small>
        </h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
  <%= article.content.html_safe %>
    </div>
  </div>
</div>
