<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', :back, class: "btn btn-primary btn-sm dark-button text-center text-uppercase" %>
