<div class="jumbotron">
  <div class="container">

    <h1>Welcome to listMaker!</h1>

    <h2>A free to-do list app to help keep you organized.</h2>

    <% if user_signed_in? %>
    <p>Create a new list or add items to an existing list.</p>

    <% else %>
    <p> <%= link_to "Sign up now", new_user_registration_path, class:"btn btn-lg btn-success" %>
    </p>

    <% end %>
  </div>

</div>
