// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_variables.scss';
@import '_mixins.scss';

.sidebar-box {
  max-height: 120px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  margin: 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, $bgColor);
}

.read-more a {
  color: $secondaryColor;
}

#newArticlePage {
  text-align: left;
  padding-bottom: 20px;
  font-size: 1.75em;

}

.articleTitle {
  text-align: left;
  input{
    margin-bottom: 10px;
    padding-right: 30%;
  }
}

.articleContent {
  margin-bottom: 10px;
}

.submitArticle{
  input{
    @include button-variant(white, $secondaryColor, $secondaryColor);
    font-family: "Lato", helvetica, sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.badge.claps {
  background-color: $secondaryColor;
  font-size: 0.5em;

}
