@import "bootstrap-sprockets";
@import "bootstrap";
@import "_variables.scss";
@import "_mixins.scss";

// Global Styling
body {
  height: 100vh;
  width: 100vw;
  background: $bgColor;
  padding-top: 70px;
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 16px;
}

section {
  overflow: auto;
}

text-area {
  resize: vertical;
  color: black;
};

label, th, p, h2, {
  color: white;
}


h1, h3 {
  color: $primaryColor;
}

li {
  color: $secondaryColor;
}

// Navbar styling
.navbar-inverse{
  .navbar-brand{
    color: $primaryColor;
    font-family: "Montserrat Alternates", helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $bgColorHighlight;
      color: $primaryColor;
    }

  }
  span{
    color: $secondaryColor;
  }
}

.dropdown-menu {
  background-color: #111111;
}

.navbar-inverse{
  .navbar-nav{
    li{
      a {
        color: #fff;
        font-family: "Lato", helvetica, sans-serif;
        font-size: 1em;
        letter-spacing: 0.15em;

        &:hover,
        &:focus {
          color: $secondaryColor;
        }
      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
    .active{
      a {
        border-radius: 0;
        color: $secondaryColor;

      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
    .active{
      a:focus {
        color: $secondaryColor;

      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
    .active{
      a {
        border-radius: 3px;

      }
    }
  }
}

// Main content -homepage- styling

.jumbotron {
  background: $bgColor;
}

.mainContent{
  width: 100%;
  background-color: $bgColor;
  text-align: center;
}


.btn-success {
  @include button-variant(white, $secondaryColor, $secondaryColor);
  margin-top: 25px;
  font-family: "Lato", helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.btn-default {
  @include button-variant(white, $primaryColor, $primaryColor);
  margin-top: 25px;
  font-family: "Lato", helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.btn-warning {
  @include button-variant(white, #00cc00, #00cc00);
  margin-top: 25px;
  font-family: "Lato", helvetica, sans-serif;
  letter-spacing: 0.25em;
  text-transform: uppercase;

}

.dark-button {
  @include button-variant($secondaryColor, $bgColor, $secondaryColor);
  letter-spacing: 0.1em;
  margin-top: 25px;
  // margin-bottom: 10px;
}

.jumbotron {
  h1 {
    font-size: 3em;
    font-family: "Lato";
    font-weight: 400;
    color: $primaryColor;
    letter-spacing: 0.075em;
    margin-bottom: 30px;
    text-align: center;
  }

  #propsLogo {
    font-family: "Montserrat Alternates", helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: normal;
    color: $primaryColor;
  }
  .logo{
    color: $secondaryColor;

  }

}

#loginMessage {
  font-family: "Lato", helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.25em;
  color: white;
}


h2 {
  font-size: 1.2em;
  letter-spacing: 0.15em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// Login Form Styling
.signUp, .logInScreen {
  width: 50%;
  background-color: #fff;

  h2 {
    color: $secondaryColor;
    text-align: center;
  }
  em{
    color: $secondaryColor;

  }
  input {
    background-color: white;
    border: solid 1px $primaryColor;
    width: 40%;
    margin-bottom: 5px;
  }

  .actions input {
    background-color: $secondaryColor;
    border: solid 1px $secondaryColor;
    color: white;
    width: 20%;
    margin-bottom: 10px;
  }
}

  .checkBox input{
    width: 3%;
    margin: 2.5% 0%;

    }

    .rememberMe {
    color: $primaryColor;
    letter-spacing: 0.075em;

  }

  .logIn input{
    background-color: $primaryColor;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
  }


.dark-button input{
  @include button-variant($secondaryColor, $bgColor, $secondaryColor);
  letter-spacing: 0.1em;
  margin-top: 25px;
  margin-bottom: 10px;
}



#notice {
  color: $secondaryColor;
  margin-top: 10px;
  letter-spacing: 0.075rem;
}


.send-confirmation input{
  @include button-variant($secondaryColor, $bgColor, $secondaryColor);
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.articleContent {
  color: white;
  text-align: left;
}


// Styling for the admin page
.adminScreen {
  text-align: left;
  li {
    a {
        color: white;
    }

    font-size: 1.1em;
    font-family: "Lato", helvetica, sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    strong{
      color: $secondaryColor;
      text-transform: uppercase;
    }
  }

  #userStats {
    color: white;
    .badge{
      background-color: $secondaryColor;
      margin-right: 15px;
    }
  }
}


.table {
  thead {
    tr {
      th {
        color: $primaryColor;
        text-align: center;
      }
    }
  }
}

// Styling for the lists page
#listTable {
  margin: 0 auto;
  width: 25%;
}

#listName > a{
  color: $secondaryColor;
  margin-left: 5%;
}

.list-items {
  list-style: none;
  padding: 0;

  .item {
    &.completed {
      text-decoration: line-through;
    }
  }
}

.list-items {
  li {
    a {
    margin-left: 2px;

}
}
}

#modifyItem {
  width: 100%;
}

.glyphicon {
  font-size: 1.5vw;
  margin-top: 2px;
  margin-left: 5px;
  padding-left: 5px;
}

.field {
  placeholder {
    color: black;
  }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(238, 111, 46, 0), rgba(238, 111, 46, 0.75), rgba(238, 111, 46, 0));
    margin-top: 40px;
}

.profile {
  h3 {
    color: $secondaryColor;
  }
}

.edit {
    color: $secondaryColor;
  }

.instructions {
    color: $secondaryColor;
  }

#pw-length {
  color: $secondaryColor;
}
