@import "bootstrap-sprockets";
@import "bootstrap";
@import "_variables.scss";

body {
  height: 100vh;
  width: 100vw;
  background: #000;
  padding-top: 60px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
}

section {
  overflow: auto;
}

text-area {
  resize: vertical;
};

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.jumbotron {
  background: #000;
}

.container{
  width: 100%;
  background-color: #000;
  text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;

  }

  .jumbotron {
    h1 {
    font-size: 3em;
    color: $primaryFontColor;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
  }
}


    h2 {
    font-size: 1.2em;
    color: lighten($primaryFontColor, 10);
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;

    }


  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

.navbar-inverse{
  .navbar-brand{
    color: $primaryFontColor;
    &:hover,
    &:focus,
    &:active,
    &.active {
            color: darken($primaryFontColor, 10%);
          }

  }
}


.navbar-inverse{
  .navbar-nav{
    li{
      a {
    color: #fff;
    &:hover,
    &:focus {
    color: $primaryFontColor;
    outline: solid $primaryFontColor 1px;
        }
      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
      .active{
        a {
  border-radius: 0;
  color: $primaryFontColor;

        }
      }
    }
  }


  .navbar-inverse{
    .navbar-nav{
        .active{
          a:focus {
      color: $primaryFontColor;

      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
      .active{
        a {
  border-radius: 3px;
  outline: solid #4A6AFE 1px;
      }
    }
  }
}




  #list_items {
    .item {
      &.completed {
        text-decoration: line-through;
      }
    }
  }
