@import "bootstrap-sprockets";
@import "bootstrap";
@import "_variables.scss";

// Global Styling
body {
  height: 100vh;
  width: 100vw;
  background: $bgColor;
  padding-top: 175px;
  font-family: 'Lato', helvetica, sans-serif;
  font-size: 20px;
}

section {
  overflow: auto;
}

text-area {
  resize: vertical;
};

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {


}

// Navbar styling
.navbar-inverse{
  .navbar-brand{
    color: $secondaryColor;
    font-family: "Montserrat Alternates", helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    &:hover,
    &:focus,
    &:active,
    &.active {
            background-color: $bgColorHighlight;
          }

  }
}

.navbar-inverse{
  .navbar-nav{
    li{
      a {
    color: #fff;
    font-family: "Lato", helvetica, sans-serif;
    font-size: 1em;
    letter-spacing: 0.15em;

    &:hover,
    &:focus {
    color: lighten($primaryFontColor, 10);
    outline: solid $primaryFontColor 1px;
        }
      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
      .active{
        a {
  border-radius: 0;
  color: $primaryFontColor;

        }
      }
    }
  }


  .navbar-inverse{
    .navbar-nav{
        .active{
          a:focus {
      color: $primaryFontColor;

      }
    }
  }
}

.navbar-inverse{
  .navbar-nav{
      .active{
        a {
  border-radius: 3px;

      }
    }
  }
}

// Main content styling

.jumbotron {
  background: $bgColor;
}

.mainContent{
  width: 100%;
  background-color: $bgColor;
  text-align: center;
  }



  .btn-success {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    color: #ffffff;
    font-family: "Lato", helvetica, sans-serif;
    letter-spacing: 0.25em;
  }




  .jumbotron {
    h1 {
    font-size: 3em;
    font-family: "Lato";
    font-weight: 400;
    color: $primaryFontColor;
    letter-spacing: 0.075em;
    margin-bottom: 30px;
    text-align: center;
  }

  #logo {
    font-family: "Montserrat Alternates", helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: normal;
  }
}


    h2 {
    font-size: 1.2em;
    color: lighten($primaryFontColor, 40);
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;

    }


  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }



  #list_items {
    .item {
      &.completed {
        text-decoration: line-through;
      }
    }
  }
